.container {

    .card-image-container {
        height: 220px;
        text-align: center;

        .card-images {
            max-width: 170px;
        }
    }
    mat-spinner {
        display: inline-block; 
        margin-left: 5px;
    }
}