<mat-spinner class="spinner" *ngIf="!showEvent"></mat-spinner>
<div class="container button-only" *ngIf="showEvent">
    <div class="row">
        <div class="col-sm-12">
            <div style="margin-bottom: 30px">
                <button mat-raised-button (click)="goBack()">&larr; Back</button>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="showEvent">
    <div *ngIf="selectedEvent" class="row">
        <div class="event col-sm-12">
            <mat-card>
                <img mat-card-image *ngIf="selectedEvent.images && selectedEvent.images.length > 0" [src]="getUrl(selectedEvent.id, selectedEvent.images[0].id)" (error)="updateUrl($event)">
                <img mat-card-image *ngIf="!selectedEvent.images || selectedEvent.images.length === 0" src="http://via.placeholder.com/350x200?text=+">
                <mat-card-content>
                    <h3 *ngIf="selectedEvent.name">{{selectedEvent.name}}</h3><br>
                    <h4>Status:</h4>
                    <mat-checkbox 
                        class="example-margin" 
                        [(ngModel)]="statusModel.coming"
                        (change)="setStatusById()"
                        [disabled]="showAttendingSpinner">
                            <p style="margin-bottom: 0;">Are you coming?</p>
                    </mat-checkbox>
                    <mat-spinner 
                        class="spinner-small" 
                        *ngIf="showAttendingSpinner" 
                        [diameter]="'20'">
                    </mat-spinner>
                    <h4>Location:</h4>
                    <p *ngIf="selectedEvent.location">
                        {{selectedEvent.location.name}}<br>
                        {{selectedEvent.location.address}}<br>
                        {{selectedEvent.location.city}}, {{selectedEvent.location.state}}<br>
                    </p>
                    <h4>Date:</h4>
                    <p>
                        {{selectedEvent.date}}
                    </p>
                    <h4>Description:</h4>
                    <p>
                        {{selectedEvent.description}}
                    </p>
                    <h4>Photos:</h4>
                    <br>
                    <div class="row" *ngIf="selectedEvent.images && selectedEvent.images.length > 0">
                        <div class="card-image-container col-sm-12 col-md-6" *ngFor="let image of selectedEvent.images">
                            <img class="card-images" [src]="getUrl(selectedEvent.id, image.id)" (error)="updateUrl($event)">
                            <p style="padding: 0 15px; margin-top: 15px">{{image.caption}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="!selectedEvent.images || selectedEvent.images.length === 0">
                        <div class="col-sm-12">
                            <p>There are no photos for this event.</p>
                        </div>
                    </div>
                    <h4>Comments:</h4>
                    <br>
                    <div class="row" *ngIf="selectedEvent.comments">
                        <div class="col-sm-12" *ngFor="let comment of selectedEvent.comments">
                            <p><strong>{{comment.from}}</strong></p>
                            <p>{{comment.text}}</p>
                        </div>
                    </div> 
                    <div class="row" *ngIf="!selectedEvent.comments">
                        <div class="col-sm-12">
                            <p>There are no comments for this event.</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>