.container {

    &.button-only {
        margin: 25px 0;
    }
    .card-image-container {
        height: 300px;
        text-align: center;

        .card-images {
            max-width: 230px;
        }
    }
    mat-spinner {
        display: inline-block; 
        margin-left: 5px;
    }
}